h1 {
	position: fixed;
	bottom: 0
	right: 0;
	width: 5000px;
	background-color: #ccffcc;
	color: black;
	font-family: 'Pacifico', cursive;
	font-size: 50px;
	align-self: center;
}
* {
	background-color: #262626;

}
h3 {
	font-size: 30px;
	font-family: 'Marmelad', sans-serif;
	text-decoration: underline;
	line-height: 200%;

}
p {
font-size: 15px;
	font-family: 'Arvo', serif;
	line-height: 140%;
}
img {
	float: left;
}

.otis {
	background-color: white;

}
img:hover {
 	-webkit-transform: scale(1.8);
	-ms-transform: scale(1.8);
	transform: scale(1.8);
}
.amy {
	background-color: white;

}
.brody {
	background-color: white;

}
.johanna {
	background-color: white;

}
.person {
	align-content: space-between;
	border: 5px #222222 solid;
}

@media only screen and (min-width:500px)  {
	.total {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	* {
		background-color:  #ccffcc;
	}
	h1 {
		background-color: #262626;
		color: white;
	}
}
